*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #003366;
  --secondary-color: #F4F4F4;
  --text-color: #333333;
  --button-color: #007BFF;
  --input-primary-color: #FFFFFF;
  --input-secondary-color: #E0E0E0;

  --heading-font: 'Montserrat', sans-serif;
  --body-text-font: 'Roboto', sans-serif;
}

body {
  background-color: var(--secondary-color);
  margin: 0px;
  line-height: 1.6;
}
.body-color-font, label {
  font-family: var(--body-text-font);
  color: var(--text-color);
}
.body-text, .action-btn, label, input  {
  font-size: 18px;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: var(--heading-font);
  color: var(--primary-color);
} 
hr {
  border: var(--primary-color) 1.5px solid;
  border-radius: 3px;
}

/* navBar */
header {
  background-color: var(--primary-color);
  width: 100%;
}
.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 90px;
  font-family: var(--heading-font);
}
.logo, .logo-wrapper {
  max-width: 80px;
  max-height: 90px;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li:not(:last-child) {
  margin-right: 90px;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 21px;
}

/* homePage */
.heading-margin , .welcome-section-container, .reports-welcome-section, .welcome-section-container-2{
  margin: 50px 0px;
}
.welcome-section-img, .welcome-section-img-2 {
  max-width: 300px;
}
.welcome-section-container, .reports-welcome-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.welcome-section-container-2 {
  display: flex;
  justify-content: space-around;
}
.welcome-text-container {
  max-width: 540px;
}

.subHeading, .display-financial, .financial-form-labels, .financial-form-input{
  font-size: 20px;
}

/* TransactionPage */

.transaction-page {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.transactionPage-divider {
  width: 400px;
}
.transactionPage-divider-2 {
  margin: 0px;
  min-height: 800px;
}

.financial-overview-section, .transaction-list-section{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
}
.transactions-form-section{
  margin-left: 90px;
}

.transaction-page-img{
  max-width: 300px;
}

/* Income and Budget Component */
.display-financial {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--heading-font);
  padding: 7px;
  width: 290px;
  margin-top: 5px;
}
.budget-margin, .finance-form-wrapper {
  margin-bottom: 20px;
}
.income-magrin {
  margin-bottom: 40px;
}
.financial-form-labels, .financial-form-input{
  color: var(--secondary-color);
  font-family: var(--heading-font);
  height: 30px;
}

.financial-form-input {
  background-color: var(--primary-color);
  width: 150px;
  border: none;
}

.action-btn {
  border: none;
  background: none;
  font-family: var(--heading-font);
  color: var(--button-color);

}

/* TransactionList */
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;

}
.display-expenses-wrapper:not(:last-child) {
  margin-right: 15px;
}
.display-expenses-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--primary-color) 1.5px solid;
  border-radius: 25px;
  background-color: var(--input-primary-color);
  margin-bottom: 30px;
  padding: 10px 15px;
  width: 170px;
}
.display-expenses p {
  margin: 0;
}

.delete-btn {
  border: none;
  background: none;
  font-size: 30px;
  color: var(--primary-color);
  cursor: pointer;
  padding: 0;
}

.delete-btn:hover{
  color: red;
}
.noExpenses-img{
  max-width: 400px;
}


/* Expenses form */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-img-wrapper {
  margin-left: 30px;
}
input {
  background-color: var(--input-primary-color);
  border: var(--input-secondary-color) 2px solid;
  padding: 5px;
  font-family: var(--body-text-font);
}
.input-radio-container {
  display: flex;
  margin: 10px 0px;
}
.input-radio-container div:not(:last-child) {
  margin-right: 15px;
}
label {
  font-weight: bold;
}
#rent {
  margin-left: 0;
}
.amount-wrapper {
  position: relative;
}
.dollar-sign {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
#amount {
  padding-left: 15px;
}

.btn-add-expanse {
  margin: 25px 0px;
  padding: 10px;
  text-transform: uppercase;
  border: var(--button-color) solid 1px;
}

/* Reports Page */
.chart-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px;
}
/* Reports welcome text */
.reports-image {
  max-width: 500px;
}
.reports-welcome-section{
  align-items: center;
}

/* Bar Chart */
.bar-chart {
  width: 600px;
}

/* Screen */

@media all and (max-width: 800px){
  .container {
    padding: 0 30px;
  }
  .body-text, .action-btn, label, input {
    font-size: 17px;
  }
  .link {
    font-size: 20px;
  }
  h2 {
    font-size: 22px;
  }
  .heading-margin , .welcome-section-container, .reports-welcome-section, .welcome-section-container-2 {
    margin: 30px 0px
  }
  .subHeading, .display-financial, .financial-form-labels, .financial-form-input {
    font-size: 19px;
  }
/* transactionPage */
  .transaction-page {
    margin-top: 30px;
  }
  .financial-overview-section, .transaction-list-section {
    max-width:350px;
    margin-left: -20px;
  }
  .transactionPage-divider {
    width: 330px;
  }
  .transactions-form-section{
    margin-left: 30px;
  }

  /* Income and Budget Component */
  .display-financial{
    width: 250px;
  }
  .budget-margin, .finance-form-wrapper {
    margin-bottom: 15px;
  }
  .income-magrin {
    margin-bottom: 35px;
  }
  .financial-form-input{
    width: 125px;
  }

  /* TransactionList */
  .display-expenses-wrapper {
    width: 150px;
    padding: 7px 10px;
    margin: 10px 5px;
  }
  .delete-btn {
    font-size: 25px;
  }
  .noExpenses-img{
    max-width: 300px;
  }

  /* Expenses form */
  .input-radio-container {
    flex-wrap: wrap;
  }
  .input-radio-container div {
    margin: 5px 0px
  }
  .btn-add-expanse {
    padding: 7px;
  }

  /* Reports welcome text */
  .reports-image {
    max-width: 425px;
    float: right;
    margin-left: 15px;
  }
  .reports-welcome-section {
    display: block;
  }
}
@media all and (max-width: 500px) {
  body {
    line-height: 1.4;
  }
  h2 {
    text-align: center;
  }
  .container {
    padding: 0 20px;
  }
  .navBar {
    max-height: 80px;
  }
  .logo, .logo-wrapper {
    max-height: 70px;
  }
  .nav-links {
    padding: 0px;
  }
  .nav-links li:not(:last-child) {
    margin-right: 0px;
    padding-right: 15px;
  }

  /* homePage */
  .welcome-section-container, .welcome-section-container-2 {
    display: block;
  }
  .welcome-section-img {
    float: right;
    max-width: 170px;
  }
  .welcome-section-img-2 {
    float: left;
    max-width: 170px;
  }
  .heading-margin {
    margin: 15px 0px;
  }
  /* TransactionPage */
  .transaction-page-img{
    display: none;
  }
  .transaction-page {
    display: flex;
    flex-direction: column;
  }
  .transactionPage-divider-2 {
    display: none;
  }
  .change-order {
    order: 1;
  }
  .transactionPage-divider{
    width: 100%;
    order: -1;
  }

  .financial-overview-section, .transaction-list-section {
    margin: 0px;
    margin-left: 0px;
  }
  .transactions-form-section{
    margin-left: 0px;
  }

    /* expenses form */
    .wrapper form {
      margin-left: 20px;
    }

    /* Income and Budget Component */
    .income-magrin {
      margin-bottom: 25px;
    }
    .budget-margin, .finance-form-wrapper {
      margin-bottom: 5px;
    }
    .finance-form-wrapper {
      margin-top: 10px;
    }

  /* TransactionList */
  .noExpenses-img{
    max-width: 280px;
    margin-bottom: 30px;
  }
  .change-order h3 {
    margin: 0px 0px 5px 0px;
  }
  .delete-btn {
    font-size: 22px;
  }
    /* Reports welcome text */ 
    .reports-image {
      max-width: 200px;
      margin-left: 10px;
    }
    .chart {
      width: 300px;
      text-align: center;
    }
    .bar-chart {
      margin: 30px 0px;
      width: 300px;
      height: 250px;
    }
    .chart-section {
      margin: 20px 0px;
    }
}

